* {

  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #4088c7, #08355c);
}

h1 {
  color: white;
  padding: 10px 0px;
}

h2 {
  padding: 10px;
}

h3 {
  font-size: 25px;
  padding: 10px;
}

h4 {
font-size: 16px;
padding: 10px;
}

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 400px;
}

.text-input {
  margin: 5px;
}


.side-search {
  display: flex;
  /* border-style: none solid none none; */
  flex-direction: column;
  width: 25%;
  height: 100vh;
}

.side-search .text-input {
  width: 90%;
  padding: 5px;
  margin: 5px 15px;
  border-radius: 5px
} 

.side-search .button {
  width: 96%;
  padding: 5px;
  margin: 5px 15px;
  border: none;
  border-radius: 5px;
}

#error {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#error.error {
  visibility: visible;
  color: red;
}

.cityCont {
  display: flex;
  flex-direction: column;
}

/* .button {
} */

.dashView {
  display: flex;

}

.cityForecast {
  visibility:hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.today {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  width: 94%;
  margin: 20px;
  padding: 10px
}

.cardTodayCity {
  display: flex;
  font-size: 30px;
  align-self: center;
}

.cardTodayDate {
font-size: 16px;

}

.cardBodyToday,
.cardBodyToday li {
  display: flex;
  font-size: 16px;
  flex-direction: row;
  list-style-type: none;
  margin: 0px 15px;
  font-size: 25px;
}


.fiveDayForecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecastCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  margin: 5px;
  padding: 10px;
  background-color: #0f0c59;
  color: white;
  font-weight: bold;

}

.listItem {
  margin: 10px 0px;
  list-style-type: none;
  font-weight: 100;
  font-size: 20px;
}

#forecastTitle {
  display: flex;
  justify-content: center;

}

.boldText {
  font-weight: 900;
}