* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to right, #4088c7, #08355c);
}

h1 {
    color: white;
    padding: 10px 0px;
}

h2 {
    padding: 10px;
}

.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 400px;
}

.text-input {
    width: 25%;
    padding: 5px;
    margin: 5px;
  }

.button {
    width: 26%;
    padding: 5px;
    margin: 5px;
}

.side-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

.side-search .text-input,
.side-search .button {
    width: 15%;
    padding: 5px;
  }
